*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: calculator-font;
    src: url(Fonts/SFPRODISPLAYREGULAR.OTF);
}

.calculator{
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: #000;
    margin: 20px;
    width: 284px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 1px #fe9605;
}

.display{
    height: 80px;
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 50px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.left{
    
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.clear{
    display: flex;
}

.numb{
    display: flex;
    flex-wrap: wrap;
}

.operators{
    display: flex;
    flex-direction: column;
}

.btn{
    margin: 3px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    color: #fff;
    font-size: 25px;
}

.btn:hover{
    cursor: pointer;
}

.font{
    font-family: calculator-font;
}

.logo{
    color: #a5a5a5;
    font-family: calculator-font;
}